
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:var(--Yellow) ;
     display: grid;
    place-content: center;
    height: 100vh;
    font-size: 1rem;
    font-family: var(--font-family);
}



:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
    --font-family: "Figtree";
}
@font-face{
    font-family: "Figtree";
   font-style: normal;
   font-weight: "500 800";
   font-display: swap;
   src: url(./assets/fonts/Figtree-VariableFont_wght.ttf)
}


.tarjeta{
    height: 490px;
    max-width:326px;
    background-color: var(--White);
    border-radius: 16px;
    box-shadow: 8px 8px 2px var(--Gray-950);
    border: solid 1px var(--Gray-950);
}

#imagen{
    margin: auto;
    width: 320px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    place-content: center;
     clip-path: inset(1% 6.3% 1% 6.3% round 4%);/*esto recorta la imagen en un
                                               rectangulo y redondea los bordes*/;
    }

.boton{
   background-color: var(--Yellow);
   font-weight: 800;
   font-size: .75rem;
   margin-left: 21px;
   margin-bottom: 14px;
   padding: 5px 7px 6px 7px;
   border-radius: 4px;
   border: none;
   color: var(--Gray-950);
   
}
.fecha{
    margin-left: 21px;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: .72rem;
    color: var(--Gray-950);    
}
.enlase{
    text-decoration:inherit;
    color: var(--Gray-950);
    font-weight: 800;
    font-size: 1.25rem;
    margin-left: 21px; 
}

.enlase a:hover, .enlase a:active {
        color: var(--Yellow);
      }

.des{
    margin-left: 21px;
    margin-right: 16px;
    margin-top: 10px;
    color:var(--Gray-500);
    font-size: .89rem;
    font-weight: 500;
    line-height: 1.25rem;
}
.abatar{
    margin-left: 21px;
    margin-top: 25px;
    margin-bottom:20px;
    height: 33px;
    width: 200px;
    display: flex;
    gap:8px;
    color:var(--Gray-950);
    font-weight: 800;
    & .name{
        font-size: 0.93rem;
        margin-top: 6px;
    }
}

@media ( min-width:740px ){
    .tarjeta{
        height: 522px;
         max-width:387px;
         border-radius: 20px;
     }
     #imagen{
         clip-path:none;
         margin-top:24px;
          margin-bottom:24px;
         width: 350px;
         & .imajen{
            border-radius: 11px;
         }
     } 
    .boton{
        margin-left:25px ;
         font-size: .85rem;
          
    }
    .fecha{
         margin-left: 25px;
        font-size: .85rem;
    }
    .enlase{
        font-size: 1.52rem;       
      }
      .des{
         font-size: 1.0rem;
          line-height: 1.40rem;
      }    
}
    
    
 


